body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-image: url(img/palm.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
       }
       .game-container {
           background-color: rgb(209, 198, 247);
           border-color: black;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
           text-align: center;
       }
       button {
           margin: 10px;
           padding: 10px 20px;
           font-size: 16px;
           cursor: pointer;
       }
       #result {
           margin-top: 20px;
           font-weight: bold;
       }
.dices{
    padding: 10px;
    column-count: 5;
    column-fill: balance;
}

.headings{
    padding: 10px;
    column-count: 5;
    column-fill: balance;
}

.credits{
    column-count: 5;
    column-fill: balance;
}

.text-center{
    text-align: center;
}

.dices-computer-player{
    column-count: 2;
}

.dices-player{
    column-count: 2;
}

.message{
    column-count: 3;
    column-fill: balance;
}

.message-box{
    border: 1px solid black;
}

.controls{
    padding: 10px;
    column-count: 6;
    column-fill: balance;
}

.dice{
    font-size: 64pt;
}

button{
    width: 100%;
}